.smooth-scroll {
    overflow: hidden;
  }
  
  .hero-section,
  .second-section,
  .third-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .cta-btn {
    border: 1px solid #ff9800;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    color: #ff9800;
    background: transparent;
    &:hover {
      background: #ff9800;
      color: white;
    }
  }
  
  .second-section img,
  .third-section img {
    position: absolute;
    width: 12vw;
    transition: transform 0.5s ease-in-out;
  }
  